<!--- <p>listuser works!</p>
{{ nb }} 
<img [src]="sourceImage" (click)="f()" />  

<input [value]="nb" (keyup)="setNb(ref.value)" id="monNb" #ref>  {{ nb }} 
<input [(ngModel)]="nb2"> {{nb2}}
*******************************************
<br>
<table>
    <tr>
        <th>idCustomer</th>
        <th>firstName</th>
        <th>lastName</th>
        <th></th>
    </tr>
    <tr *ngFor="let u of list; let i=index">
        <td>{{i}} ** {{ u.idCustomer }}</td>
        <td> {{ u.firstName }}</td>
        <td>{{ u.lastName }} </td>
        <td><button (click)="delete(i)">Delete</button></td>
    </tr>
</table>

---->
<!---Rechercher : <input [value]="categorie1" (keyup)="testValue(myVal.value)" #myVal > {{myVal.value}} <br>
Rechercher (ngModel) : <input [(ngModel)] = "categorie2"> {{categorie2}}
<ul>
    <li *ngFor="let skander of list">
        {{ skander.firstName}}
    </li>
</ul>--->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<input type="text" [(ngModel)]="categorie">
<div class="container">
<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<div class="table-responsive">
				<table class="table user-list">
					<thead>
						<tr>
				
						<th><span>User</span></th>
							<th><span>Created</span></th>
							<th class="text-center"><span>Status</span></th>
							<th><span>Email</span></th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<div  *ngFor="let user of list; let i=index">
						<tr   *ngIf="user.accountCategory == categorie">
							<td>
								<img src="{{user.picture}}" alt="">
								<a href="#" class="user-link">{{i}}**{{user.firstName}} {{user.lastName}}</a>
								<span class="user-subhead">{{user.accountCategory}}</span>
							</td>
							<td>
								<a [routerLink]="['/user-details',user.idCustomer]">Details</a>
							</td>
							<td>
								{{user.birthDate}}
							</td>
							<td class="text-center">
								<span class="label label-default">Inactive</span>
							</td>
							<td>
								<a href="#">{{user.email}}</a>
							</td>
							<td style="width: 20%;">
								<a [routerLink]="['user-details',user.idCustomer]" class="table-link">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
									</span>
								</a>
								<a href="#" class="table-link">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse" ></i>
									</span>
								</a>
								<button class="table-link danger" (click)="delete(i)"
								 [style.display]="user.accountCategory == 'Admin' ? 'none' : 'block'">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
								</button>
								
							</td>
						</tr>
						</div>
					</tbody>
				</table>
			</div>
			<ul class="pagination pull-right">
				<li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
			</ul>
		</div>
	</div>
</div>
