<p>products works!</p>
<input type="text" [(ngModel)]="title"> {{title}}
<div>
Recherche : <input type="number" [(ngModel)]="price">
</div>
<table>
    <tr>
        <td>Title</td>
        <td>Quatity</td>
        <td>Price</td>
        <td>Like</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <div *ngFor="let p of listProduct">
    <tr *ngIf="p.price <= price">
        <td>{{p.title}}</td>
        <td>{{p.quantity}}</td>
        <td >{{p.price}}</td>
        <td>{{p.like}}</td>
        <td><a [routerLink]="['/addProduct',p.id]">update</a></td>
        <td><button (click)="delete(p)">Delete</button></td>
        <td><button *ngIf="p.quantity > 0" (click)="buy(p)">Buy</button>
            <button [hidden]="p.quantity == 0" (click)="buy(p)">Buy</button>
            <button [disabled]="p.quantity == 0" (click)="buy(p)">Buy</button>
        </td>
        <td><button (click)="like(p)">Like</button></td>
    <td><a [routerLink]="['/detail',p.id]">Détails</a></td>
    </tr>
</div>
</table>
